.idea/
AlexVojjtenko/AlexVojjtenko.iml
anton.konovalenko/anton.konovalenko.iml
dima.bohdanovych/dima.bohdanovych.iml
java_kiev_obl.iml
mikhail,zhylin/mikhail,zhylin.iml
natalia.gavaleshko/natalia.gavaleshko.iml
out/
serhii.berdychevskyi/serhii.berdychevskyi.iml
suk.denys/suk.denys.iml
